@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply bg-white;
    font-family: Roboto, sans-serif;
}

@layer base {

}

@layer utilities {
  .shadow-5 {
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);
  }

  .shadow-4 {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5), 0px 15px 25px rgba(0, 0, 0, 0.15);
 }

 .shadow-3 {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.12), 0px 3px 6px rgba(0, 0, 0, 0.25);
 }

 .shadow-2 {
   box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15), 0px 2px 5px rgba(0, 0, 0, 0.12);
 }

 .shadow-1 {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.25);
 }

 .shadow-3-white {
  box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.12), 0px 3px 6px rgba(255, 255, 255, 0.25);
 }

  .text-11 {
    font-size: 72px;
  }

  .text-10 {
    font-size: 60px;
  }

  .text-9 {
    font-size: 48px;
  }

  .text-8 {
    font-size: 36px;
  }

  .text-7 {
    font-size: 30px;
  }

  .text-6 {
    font-size: 24px;
  }

  .text-5 {
    font-size: 20px;
  }

  .text-4 {
    font-size: 18px;
  }

  .text-3 {
    font-size: 16px;
  }

  .text-2 {
    font-size: 14px;
  }

  .text-1 {
    font-size: 12px;
  }

  .text-height-1 {
    line-height: 1.2;
  }

  .text-height-2 {
    line-height: 1.4;
  }

  .text-height-3 {
    line-height: 1.6;
  }

  .text-balance {
    text-wrap: balance;
  }

  .text-bold {
    font-weight: 500
 }


}

@layer components {
  /* Navigation Bar */
  .header {
    @apply bg-primary-500 fixed w-full h-[72px] text-white flex flex-row justify-between items-center shadow-3 transition-all duration-500 ease-in-out;
  }

  .header-title {
    @apply text-center mx-auto text-9 tracking-wide text-bold cursor-pointer;
  }

  .header-title:hover {
    transform: scale(1.05);
  }

  .hamburger-menu {
    @apply p-4 text-6;
  }

  .hamburger-icon {
    @apply h-[36px] w-[36px] cursor-pointer;
  }

  .account-icon {
    @apply mr-1 h-[48px] w-[48px] cursor-pointer;
  }
  
  .hamburger-icon:hover, .account-icon:hover {
    transform: scale(1.1);
  }

  .dropdown-menu {
    @apply absolute top-[7.5vh] text-5 w-[12vw] bg-gray-100 rounded-[5px] text-primary-800 py-4 shadow-4;
  }

  .dropdown-menu-item {
    @apply px-4 py-1 text-left cursor-pointer bg-gray-200 border-t-[0.5px] border-b-[0.5px] border-gray-100;
  }

  .dropdown-menu-item:hover {
    @apply bg-primary-700 text-white w-full text-bold; 
  }

/* Back Button */
.back-btn {
  @apply fixed bottom-0 left-0 m-2 flex items-center justify-center h-[48px] w-[48px] rounded-[5px] cursor-pointer; 
}

/* Home Page */
  
  .home-page {
    @apply flex items-center justify-center h-screen;
  }

  .btn-container {
    @apply grid grid-cols-2 grid-rows-3 justify-center items-center w-[296px] h-[384px] gap-4;
  }

  .start-btn, .app-btn {
    @apply flex w-full h-full rounded-[15px] shadow-3 cursor-pointer justify-center items-center text-center;
  }

  .start-btn {
    @apply col-span-2 row-span-1 text-11 text-bold tracking-wider bg-green-300 text-white;
  }

  .app-btn {
    @apply bg-primary-500;
  }

  .start-btn:hover, .app-btn:hover {
    transform: scale(1.03);
  }

  /* Login */
  .login-page {
    @apply flex flex-col items-center justify-center h-screen w-screen bg-gradient-to-br from-primary-300 to-primary-700 text-5 text-gray-400 sm:pt-[15%] md:pt-[5%] overflow-auto;
  }

  .login-box {
    @apply flex flex-col items-center  w-auto p-4 border-t-primary-500 border-t-[7.5px] rounded-t-[5px] rounded-b-[15px] shadow-3-white bg-white h-[440px];
  }

  .login-box p {
    @apply bottom-0;
  }

  .login-box .error {
    @apply text-red-200 text-left w-full ml-4 text-4;
  }

  .redirect {
    @apply text-primary-700 transition-all duration-150 ease-in-out cursor-pointer;
  }

  .redirect:hover {
    @apply text-primary-500 text-bold;
  }

  .login-box h1 {
    @apply text-left w-full text-9 mb-4 text-primary-500 pl-5;
  }

  .login-box form {
    @apply flex flex-col items-center justify-center w-full p-4;
  }

  .login-box input[type="text"], .login-box input[type="password"], .login-box input[type="email"]{
    @apply w-[364px] h-[40px] bg-transparent text-4 text-primary-700 rounded-t-[5px] bg-gray-100 border-b-primary-300 border-b-[2.5px] p-2 my-4;
  }

  .login-box input:focus {
    @apply outline-none border-b-primary-400;
  }

  .login-box button {
    @apply w-[364px] h-[40px] bg-gradient-to-r from-primary-300 to-primary-500 text-white rounded-[10px] shadow-2 cursor-pointer mt-8 tracking-[0.3em] text-3 transition-all duration-150 ease-in-out;
  }

  .login-box button:hover {
    @apply transform scale-105 shadow-1;
  }

  /* Account */
  .account-page {
    @apply flex flex-col items-center justify-center h-screen w-screen bg-primary-400 text-5 text-white gap-y-2 sm:pt-[25%] md:pt-[10%] overflow-auto;
  }

  .account-info {
    @apply my-4 flex flex-col justify-center w-auto bg-primary-300 p-4 rounded-[15px] shadow-1 ;
  }

  .account-info h1 {
    @apply text-10 text-bold mb-4;
  }

  .account-info p {
    @apply text-6;
  }

  .account-info button {
    @apply w-[40%] h-[15%] bg-primary-500 text-white rounded-[15px] shadow-2 cursor-pointer transition-all duration-150 ease-in-out mt-6 text-5;
  }

  /* About Us */
  .about-page {
    @apply flex flex-col items-center justify-center h-screen w-screen bg-primary-400 text-5 text-white gap-y-2 sm:pt-[25%] md:pt-[10%] overflow-auto;
  }

  .about-page article {
    @apply w-[40rem] p-4;
  }

  .about-page h1 {
    @apply text-10 text-bold mb-4;
  }

  .about-page h2 {
    @apply text-[42px] text-bold mb-4;
  }

  .about-info {
    @apply my-4 flex flex-row justify-center w-[85%] bg-primary-300 p-4 rounded-[15px] shadow-1;
  }

  .about-page section {
    @apply flex flex-col items-center justify-center;
  }

  .about-page article {
    @apply w-auto;
  }

  /* Contact Us */
  .contact-page {
    @apply flex flex-col items-center justify-center h-screen w-screen bg-primary-400 text-5 text-white gap-y-2 sm:pt-[25%] md:pt-[10%] overflow-auto;
  }

  .contact-info {
    @apply my-4 flex flex-row justify-center w-[85%] bg-primary-300 p-4 rounded-[15px] shadow-1;
  }

  /* Exercise menu */
  .exercise-menu {
    @apply flex justify-around items-center text-center bg-gradient-to-r from-primary-400 to-primary-600 w-[80vw] h-[75vh] rounded-[15px] mt-8 shadow-5 pr-4;
  }

  .exercise-menu h1 {
    @apply text-10 text-bold text-white cursor-pointer transition-transform duration-[250ms] ease-in-out; 
  }

  .exercise-menu h1:hover {
    @apply scale-[1.3];
    text-shadow: 0px 0px 40px white;
  }

  /* Exercise Bank */
  .exercise-container {
    @apply flex flex-col justify-center mt-8 items-center w-[768px] h-[584px] bg-gray-100 border-t-primary-500 border-t-[10px] rounded-t-[5px] rounded-b-[15px] shadow-3
  }

  .exercise-search {
    @apply flex w-[80%] h-[8%] bg-gray-200 text-start items-center p-2 shadow-1 text-6;
  }

  .exercise-bank {
    @apply w-[80%] h-[70%] bg-gray-100 shadow-1 mt-6 rounded-t-[5px] rounded-b-[15px];
  }

  .search-filters {
    @apply flex flex-row justify-between px-4 w-full h-[9%] bg-gray-200 text-start items-center p-2 text-6 border-b-2 border-b-gray-300;
  }

  .search-filters select {
    @apply w-auto bg-gray-300/50 text-4 text-center rounded-[10px] text-primary-500 shadow-1 cursor-pointer;
  }

  .search-filters option{
    @apply w-auto bg-gray-100 text-4 text-center rounded-[10px] text-primary-500 shadow-1;
  }

  .exercise-list {
    @apply w-full min-h-[85%] max-h-[85%] flex flex-col pt-2 gap-1 overflow-auto;
  }

  .exercise-block {
    @apply flex flex-col gap-1 text-primary-400 mx-2;
  }

  .exercise-block h2 {
    @apply w-full border-b-[1.5px] border-b-primary-400 mb-1;
  }

  .exercise-card {
    @apply h-7 items-center text-5 bg-gray-200 text-primary-900 rounded-[5px] px-1 transition-all duration-150 ease-in-out h-auto;
  }

  .exercise-card:hover {
    @apply text-primary-700 shadow-1;
  }
 
  .exercise-info {
    @apply relative flex flex-row justify-between items-center p-2 border-t-[1.5px] border-black/70 ;
  }

  .exercise-selected {
    @apply text-primary-700
  }

  .add-exercise {
    @apply flex justify-center text-center my-auto items-center bg-green-300 w-[5%] h-[2%] text-2 rounded-[15px] shadow-2 cursor-pointer transition-all duration-150 ease-in-out;
  }

  .add-exercise-large {
    @apply flex justify-center text-center my-1 items-center bg-green-300 w-[10%] h-[5%] text-3 rounded-[25px] mx-auto shadow-2 cursor-pointer transition-all duration-150 ease-in-out;
  }

  .add-exercise:hover, .add-exercise-large:hover {
    @apply transform scale-105 shadow-1 bg-green-200;
  }

  .remove-exercise {
    @apply flex justify-center text-center my-auto items-center bg-red-300 w-auto h-auto rounded-[30px] shadow-2 cursor-pointer transition-all duration-150 ease-in-out text-black;
  }

  .remove-exercise:hover {
    @apply transform scale-105 shadow-1;
  }

  .workout-title-input {
    @apply flex w-[50%] h-[8%] bg-gray-200 items-center p-3 shadow-1 text-5 text-start mx-auto my-2 rounded-[5px] text-primary-500;
  }

  .workout-title-input:focus {
    @apply outline-none;
  }

  .create-workout {
    @apply flex justify-center text-center my-auto items-center bg-green-300 w-[15%] h-[6%] text-5 rounded-[15px] shadow-2 cursor-pointer transition-all duration-150 ease-in-out text-white;
  }

  .create-workout:hover {
    @apply transform scale-105 shadow-1;
  }

  /* Workouts Page */
  .workout-title {
    @apply text-10 text-center text-primary-500;
  }

  .workout-list {
    @apply flex flex-col gap-y-2 mx-4 my-2 h-full;
  }

  .workout-add {
    @apply flex justify-center items-center bg-green-300 w-[20%] h-[10%] mx-auto rounded-[15px] shadow-2 cursor-pointer transition-all duration-150 ease-in-out;
  }

  .workout-add:hover {
    @apply transform scale-105 shadow-1;
  }

  .workout-card {
    @apply flex items-center h-12 text-7 bg-gray-200 text-primary-500 px-2 rounded-[5px] cursor-pointer transition-all duration-150 ease-in-out;
  }

  .workout-card:hover {
    @apply text-primary-700 shadow-1;
  }

  .display-exercises {
    @apply flex flex-col gap-2 border-t-2 border-t-gray-300 p-2 w-full h-[80%] overflow-auto text-4;
  }

  .workout-info {
    @apply hidden flex flex-row justify-between items-center p-2;
  }

  .no-workouts {
    @apply flex flex-col justify-start items-center w-[80%] h-[70%] bg-gray-300 shadow-md mt-6 pt-[8%] rounded-t-[5px] rounded-b-[15px] text-center hyphens-auto px-10 shadow-3;
  }
  
  .no-workouts h1 {
    @apply text-7 text-primary-500 mt-4;
  }

  .no-workouts button {
    @apply bg-green-300 text-white w-[40%] h-[10%] rounded-[15px] shadow-2 cursor-pointer transition-all duration-150 ease-in-out mt-6 text-5;
  }

  .no-workouts button:hover {
    @apply transform scale-105 shadow-1;
  }

  /* Start Workout*/
  .start-home {
    @apply flex flex-col items-center justify-center h-screen w-screen bg-white text-5 text-white gap-y-2 sm:pt-[10%] md:pt-[5%] overflow-hidden;
  }

  .choose-workout-container {
    @apply flex flex-col items-center justify-center w-[80%] h-[90%] bg-gray-100 border-t-primary-500 border-t-[10px] rounded-t-[5px] rounded-b-[15px] shadow-3 text-primary-500 text-7 gap-y-8;
  }

  .select-workout {
    @apply items-center justify-center bg-gray-100 rounded-[10px] p-1 shadow-3 text-black text-7 min-w-[50%];
  }

  .select-workout option {
    @apply text-primary-500;
  }

  .start-btn-small {
    @apply flex justify-center text-center items-center bg-green-300 w-[25%] h-[8%] text-6 rounded-[25px] mx-auto shadow-2 cursor-pointer transition-all duration-150 ease-in-out text-white text-bold;
  }

  .start-btn-small:hover {
    @apply transform scale-105 shadow-1;
  }

  .guest-screen {
    @apply flex flex-col items-center justify-center w-[80%] h-[80%] bg-gray-100 border-t-primary-500 border-t-[10px] rounded-t-[5px] rounded-b-[15px] shadow-3 text-primary-500 text-7 gap-y-8 p-4;
  }

  .guest-screen p {
    @apply text-center;
  }

  .start-workout-container {
    @apply flex flex-col items-center justify-center w-[80%] h-[85%] bg-gray-100 border-t-primary-500 border-t-[10px] rounded-t-[5px] rounded-b-[15px] shadow-3 text-primary-500 text-7 gap-y-8;
  }

  .start-workout-container .top-row {
    @apply flex flex-row w-full justify-center items-center 
  }

  .start-workout-container .body {
    @apply flex flex-row min-w-[75%] h-[100%] overflow-hidden justify-center bg-gray-200 shadow-2 rounded-[10px];
  }

  .start-workout-container .body .exercise-bank {
    @apply max-h-[65%] min-h-[60%] mt-2
  }

  .start-workout-container .body .exercise-body {
    @apply flex flex-col w-full h-full p-2 gap-y-2;
  }

  .start-workout-container .body .exercise-body .exercise-header {
    @apply flex flex-row text-primary-500 h-auto w-full;
  }

  .start-workout-container .body .exercise-body section {
    @apply flex flex-col p-2;
  }

  .exercise-info-container {
    @apply flex flex-col overflow-auto w-full h-full bg-gray-250 rounded-[5px]; 
  }

  .add-exercise-body {
    @apply flex justify-center min-w-full min-h-full;
  }

  .add-exercise-body .add-exercise-large {
    @apply text-white w-[20%] h-[10%] my-auto text-8;
  }

  .set-buttons {
    @apply flex flex-row justify-center text-end gap-2 bottom-0 h-[10%] w-full items-end;
  }

  .set-buttons button {
    @apply w-[20%] h-[100%] rounded-[25px] shadow-2 cursor-pointer transition-all duration-150 ease-in-out text-5 text-white px-2;
  }

  .set-input {
    @apply flex flex-row w-full justify-end;
  }

  .set-section {
    @apply flex w-[20%] flex-col;
  }

  .set-section input {
    @apply w-[50%] h-auto rounded-[10px] px-2 text-6 shadow-1 text-black;
  }

  .change-exercise-button {
    @apply m-2
  }

  .finish-workout-button {
    @apply flex justify-center text-center items-center bg-primary-500 w-[10%] h-[7%] text-6 rounded-[15px] mx-auto shadow-2 cursor-pointer transition-all duration-150 ease-in-out text-white text-bold mb-2;
  }

  /* Workout Review */
  .completed-workout{
    @apply flex flex-col justify-normal items-center h-[90%] w-[50%] bg-primary-400 text-5 text-white gap-y-2 rounded-[15px] shadow-3 p-2;
  }

  .completed-workout h1 {
    @apply text-8 text-bold;
  }

  .completed-workout-list {
    @apply flex flex-col w-auto max-h-[70%] p-4 bg-primary-500 rounded-[5px] shadow-2 overflow-auto gap-y-2;
  }

  .completed-workout-info {
    @apply bg-primary-300 flex flex-col justify-between p-4 rounded-[5px] shadow-2 w-[90%] max-h-[80%];
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
    background-color: lightgray;
    border-radius: 8px;
  }
}