@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply bg-white;
    font-family: Roboto, sans-serif;
}

@layer base {

}

@layer utilities {
  .shadow-5 {
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);
  }

  .shadow-4 {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5), 0px 15px 25px rgba(0, 0, 0, 0.15);
 }

 .shadow-3 {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.12), 0px 3px 6px rgba(0, 0, 0, 0.25);
 }

 .shadow-2 {
   box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15), 0px 2px 5px rgba(0, 0, 0, 0.12);
 }

 .shadow-1 {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.25);
 }

  .text-11 {
    font-size: 72px;
  }

  .text-10 {
    font-size: 60px;
  }

  .text-9 {
    font-size: 48px;
  }

  .text-8 {
    font-size: 36px;
  }

  .text-7 {
    font-size: 30px;
  }

  .text-6 {
    font-size: 24px;
  }

  .text-5 {
    font-size: 20px;
  }

  .text-4 {
    font-size: 18px;
  }

  .text-3 {
    font-size: 16px;
  }

  .text-2 {
    font-size: 14px;
  }

  .text-1 {
    font-size: 12px;
  }

  .text-height-1 {
    line-height: 1.2;
  }

  .text-height-2 {
    line-height: 1.4;
  }

  .text-height-3 {
    line-height: 1.6;
  }

  .text-balance {
    text-wrap: balance;
  }

  .text-bold {
    font-weight: 600;
  }


}

@layer components {
  /* Navigation Bar */
  .header {
    @apply bg-primary-500 fixed w-full h-[72px] text-white flex flex-row justify-between items-center shadow-3 transition-all duration-500 ease-in-out;
  }

  .header-title {
    @apply text-center mx-auto text-9 tracking-wide text-bold cursor-pointer;
  }

  .header-title:hover {
    transform: scale(1.05);
  }

  .hamburger-menu {
    @apply p-4 text-6;
  }

  .hamburger-icon {
    @apply h-[36px] w-[36px] cursor-pointer;
  }

  .account-icon {
    @apply mr-1 h-[48px] w-[48px] cursor-pointer;
  }
  
  .hamburger-icon:hover, .account-icon:hover {
    transform: scale(1.1);
  }

  .dropdown-menu {
    @apply absolute top-[7.5vh] text-5 w-[12vw] bg-gray-100 rounded-[5px] text-primary-800 py-4 shadow-4;
  }

  .dropdown-menu-item {
    @apply px-4 py-1 text-left cursor-pointer bg-gray-200 border-t-[0.5px] border-b-[0.5px] border-gray-100;
  }

  .dropdown-menu-item:hover {
    @apply bg-primary-700 text-white w-full text-bold; 
  }

/* Back Button */
.back-btn {
  @apply fixed bottom-0 left-0 m-2 flex items-center justify-center h-[48px] w-[48px] rounded-[5px] cursor-pointer; 
}

/* Home Page */
  
  .home-page {
    @apply flex items-center justify-center h-screen;
  }

  .btn-container {
    @apply grid grid-cols-2 grid-rows-3 justify-center items-center w-[296px] h-[384px] gap-4;
  }

  .start-btn, .app-btn {
    @apply flex w-full h-full rounded-[15px] shadow-3 cursor-pointer justify-center items-center text-center;
  }

  .start-btn {
    @apply col-span-2 row-span-1 text-11 text-bold tracking-wider bg-green-300 text-white;
  }

  .app-btn {
    @apply bg-primary-500;
  }

  .start-btn:hover, .app-btn:hover {
    transform: scale(1.03);
  }

  /* Exercise menu */
  .exercise-menu {
    @apply flex justify-around items-center text-center bg-gradient-to-r from-primary-400 to-primary-600 w-[80vw] h-[75vh] rounded-[15px] mt-8 shadow-5 pr-4;
  }

  .exercise-menu h1 {
    @apply text-10 text-bold text-white cursor-pointer transition-transform duration-[250ms] ease-in-out; 
  }

  .exercise-menu h1:hover {
    @apply scale-[1.3];
    text-shadow: 0px 0px 40px white;
  }

  /* Exercise Bank */
  .exercise-container {
    @apply flex flex-col justify-center mt-8 items-center w-[768px] h-[584px] bg-gray-100 border-t-primary-500 border-t-[10px] rounded-t-[5px] rounded-b-[15px] shadow-3
  }

  .exercise-search {
    @apply flex w-[80%] h-[8%] bg-gray-200 text-start items-center p-2 shadow-1 text-6;
  }

  .exercise-bank {
    @apply w-[80%] h-[70%] bg-gray-100 shadow-1 mt-6 rounded-t-[5px] rounded-b-[15px];
  }

  .search-filters {
    @apply flex flex-row justify-between px-4 w-full h-[9%] bg-gray-200 text-start items-center p-2 text-6 border-b-2 border-b-gray-300;
  }

  .search-filters select {
    @apply w-auto bg-gray-300/50 text-4 text-center rounded-[10px] text-primary-500 shadow-1 cursor-pointer;
  }

  .search-filters option{
    @apply w-auto bg-gray-100 text-4 text-center rounded-[10px] text-primary-500 shadow-1;
  }

  .exercise-list {
    @apply w-full h-[89%] flex flex-col pt-2 gap-1 overflow-auto;
  }

  .exercise-block {
    @apply flex flex-col gap-1 text-primary-400 mx-2;
  }

  .exercise-block h2 {
    @apply w-full border-b-[1.5px] border-b-primary-400 mb-1;
  }

  .exercise-card {
    @apply h-7 items-center text-5 bg-gray-200 text-primary-900 cursor-pointer rounded-[5px] px-1 transition-all duration-150 ease-in-out;
  }

  .exercise-card:hover {
    @apply text-primary-700 shadow-1;
  }
 
  .exercise-info {
    @apply hidden flex flex-row justify-between items-center p-2;
  }

  /* Workouts Page */
  .workout-title {
    @apply text-10 text-center text-primary-500;
  }

  .workout-list {
    @apply flex flex-col gap-y-2 mx-4 h-full my-4;
  }

  .workout-add {
    @apply flex justify-center items-center bg-green-300 w-[20%] h-[12%] mx-auto rounded-[15px] shadow-2 cursor-pointer transition-all duration-150 ease-in-out;
  }

  .workout-add:hover {
    @apply transform scale-105 shadow-1;
  }

  .workout-card {
    @apply flex items-center h-12 text-7 bg-gray-200 text-primary-500 px-2 rounded-[5px] cursor-pointer transition-all duration-150 ease-in-out;
  }

  .workout-card:hover {
    @apply text-primary-700 shadow-1;
  }

  .workout-info {
    @apply hidden flex flex-row justify-between items-center p-2;
  }
}